.desc {
    vertical-align: center;
    text-align: center;
}
body {
    font-family: sans-serif;
}
td {
    border: .5px solid;
}
.desc {
    width: 30vw;
}
button {
    width: 10vw;
    height: 15vh;
}
.h2 {
    font-size:36px;
}
select {
    width:50%;
    font-size:36px;
}